/* General Styles */
body {
    font-family: 'Plus Jakarta Sans';
    margin: 0;
    padding: 0;
    background-color: #000; /* Assuming a dark theme for better contrast */
    color: #FFFFFF;
}

.header {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the left */
    gap: 1px; /* Adjust the gap to reduce space between elements */
    padding: 20px; /* Optional padding around the header */
}

/* Rectangle 2 (Button) */
.button-rectangle {
    position: absolute;
    width: 186px;
    height: 48px;
    background: #5D74F1;
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-rectangle.outline {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
}

/* Content Container */
.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    width: 722px;
    height: 356px;
}

/* Main CSS */
#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

.button-container {
    display: flex;          
    justify-content: flex-end; 
    align-items: right; 
    width: 32%; 
    /* margin: 40;   */
    padding-bottom: 15px;
}

.content {
    display: flex;         
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically if needed */
    background-color: rgba(215, 233, 255, 0);
    gap: 20px; /* Space between children */
    flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
    width: 100%; /* Ensures full width to accommodate centering */
}

.dashboard-container {
    margin: 30px;
}

.logo {
    text-align: right;
    align-items: flex-start; 
    display: flex; /* Make it a flex container */
    justify-content: flex-end; /* Align items to the right */
    align-items: right; /* Center items vertically */
    margin-left: auto; /* Push logo to the right */
}
