body {
    font-family: 'Plus Jakarta Sans';
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

html, #root {
    height: 100%; /* Ensure html and #root take up full height */
}

@media (max-width: 1600px) {
    body {
        overflow-y: auto; /* Enable vertical scrollbar on smaller screens */
        overflow-x: auto; /* Enable horizontal scrollbar on smaller screens */
    }
}


.header {
    display: flex;
    flex-direction: row; /* Change to row to align items horizontally */
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Center items vertically */
    gap: 1px;
    padding: 20px;
}

.button-rectangle {
    position: absolute;
    width: 186px;
    height: 48px;
    background: #5D74F1;
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-rectangle.outline {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    width: 722px;
    height: 356px;
}

#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

.button-container {    
    display: flex;
    justify-content: flex-end;
    width: 50%; 
    padding-bottom: 15px;
    margin-left: auto; 
    /* position: static; */
}

.logout {
    margin-left: 1rem;
    border-radius: 15px;

}

.transaction {
    margin-left: auto;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(215, 233, 255, 0);
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.dashboard-container {
    margin: 30px;
    padding: 35px;
    background-color: rgba(57, 75, 107, 0.589);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.logo {
    text-align: right;
    align-items: flex-start; 
    display: flex;
    justify-content: flex-end;
    align-items: right;
    margin-left: auto;
}
.glass{
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37) ;
}
