.custom-button {
  box-sizing: border-box;

  padding: 6.75px 13.5px;
  width: 125px;
  height: 42px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  filter: drop-shadow(-1.5px 1.5px 2.25px rgba(93, 116, 241, 0.06)) 
          drop-shadow(1.5px 1.5px 2.25px rgba(93, 116, 241, 0.06));
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  
}
