.transition {
    transition: all 0.1s ease;
  }
  
  .section {
    padding: 2em;
    text-align: center;
  }
  
  .btn {
    position: relative;
    display: inline-block;
    margin: 1em;
    padding: 1em 2em;
    border: 0;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    transition: all 0.1s ease;
  }
  
  .btn:hover {
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  }
  
  .btn:active {
    transform: translateY(1px);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn--basic {
    background-color: #e3eacc;
    color: #455a00;
  }
  
  .btn--ghost {
    background-color: transparent;
    border: 1px solid #4c96ff;
    color: #4c96ff;
  }
  
  .btn--dark {
    background-color: #4c96ff;
    color: white;
  }
  
  .btn--action {
    background-color: #739600;
    color: white;
  }
  
  .btn--danger {
    background-color: #ff0000;
    color: white;
  }
  
  .btn--link {
    background-color: transparent;
    color: #5786bd;
  }
  
  .btn--dropdown {
    padding-right: 3em;
    position: relative;
  }
  
  .btn--dropdown:before {
    content: '';
    right: 24px;
    top: 22px;
    width: 2px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    transform: rotate(-45deg);
  }
  
  .btn--dropdown:after {
    content: '';
    right: 20px;
    top: 22px;
    width: 2px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    transform: rotate(45deg);
  }
  
  .btn-group {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .btn-group__item {
    float: left;
  }
  
  .btn-group__item:first-child .btn {
    border-radius: 30px 0 0 30px;
  }
  
  .btn-group__item .btn {
    border-radius: 0;
    margin: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .btn-group__item:last-child .btn {
    border-radius: 0 30px 30px 0;
    border-right: 0;
  }