.add {
    color: white;
    padding: 6.75px 13.5px;
    width: 150px;
    height: 43px;
    background: #5D74F1;
    border-radius: 5px;
    border: 1px solid #5D74F1;
    box-sizing: border-box;
  }

  .add:hover {
    animation: bubble 0.4s ease-out;
    background-color: #405bf3;
    cursor: pointer; 
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  