body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0; 
}

* {
  box-sizing: border-box; /* Ensures padding doesn't affect width/height calculations */
}

.st {
  color: white;
  padding-bottom: 10px;
  text-align: center;
}

.quiz-container {
  width: 100%;
  max-width: 600px;
  padding: 0px;
  text-align: center;
  border-radius: 8px;
  overflow-x: auto;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
}

.question-container {
  align-items: center;
  display: flex;
  transition: transform 0.5s ease;
}

#root {
  align-items: center;
}

.question-box {
  min-width: 100%;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.answer-input {
  width: 100%;
  padding: 15px; 
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.answer-input:focus {
  outline: none;
  background-color: white;
}

.next-button {
  width: 40%;
  padding: 10px;
  background-color: #5d74f1;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  
  margin-bottom: 30px;
}

.next-button:hover {
  background-color: #6f44ff;
}

.input-admin {
  width: 100%; 
  padding: 15px; 
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  transition: background-color 0.3s;
  box-sizing: border-box; 
}

.allofsurvey{
  margin-top: 15rem;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}